@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<Application.Reservations.DTO.ReservationDto>;

<div class="text-center">
    <h1 class="display-4">Reservations List</h1>
</div>

<br />

@if (!(ViewBag.Result == null))
{
    <div class="alert alert-warning" role="alert">
        @ViewBag.Result
    </div>
}

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Instructor</th>
            <th scope="col">Class Room</th>
            <th scope="col">Course</th>
            <th scope="col">Date Range</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>


        @foreach (var reservation in Model)
        {
            <tr>
                <th scope="row">@reservation.instructor.nom</th>
                <td>@reservation.salle.designation </td>
                <td>@reservation.cours.designation</td>
                <td>@reservation.dateDebut - @reservation.dateFin</td>
                <td>
                    <a class="btn btn-success" asp-controller="Home" asp-action="UpdateReservation" asp-route-id="@reservation.Id">Update </a>
                    <a class="btn btn-danger" asp-controller="Home" asp-action="DeleteReservation" asp-route-id="@reservation.Id">Delete </a>
                </td>
            </tr>
        }

    </tbody>
</table>